@model IEnumerable<Vet.Web.Models.DoctorsIndexViewModel>

@{
    Layout = "_AnonLayout";
    ViewData["Title"] = "Doctors";
}

<!--::doctor_part start::-->
<section class="doctor_part single_page_doctor_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2> Experienced Veterinarians</h2>
                    <p>With the best interest of your pet in mind</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="@Url.Content(item.PhotoUrl)" alt="doctor">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>@Html.DisplayFor(Model => item.DoctorFullName)</h3>
                                <p>@Html.DisplayFor(Model => item.DoctorSpeciality)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!--::doctor_part end::-->
