@model Vet.Web.Models.InsuranceCompanies.CreateViewModel

@{
    ViewData["Title"] = "New Insurance Company";
    ViewData["PageHeader"] = "Create";
}



<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Insurance Company Info</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <!--Validation Summary-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--Name-->
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <!--Name End-->
                    <!--PhoneNumber-->
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <!--PhoneNumber End-->
                    <!--Email-->
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <!--Email End-->
                    <!--DiscountPercent-->
                    <div class="form-group">
                        <label asp-for="DiscountPercent"></label>
                        <input asp-for="DiscountPercent" class="form-control">
                        <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                    </div>
                    <!--DiscountPercent End-->                    
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->


@section Scripts{
    
}