@model Vet.Web.Models.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    ViewData["PageHeader"] = "Create";
}



<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Password</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <!--Validation Summary-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--OldPassword-->
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input type="password" asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <!--OldPassword End-->
                    <!--NewPassword-->
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <!--NewPassword End-->
                    <!--Confirm-->
                    <div class="form-group">
                        <label asp-for="Confirm"></label>
                        <input type="password" asp-for="Confirm" class="form-control">
                        <span asp-validation-for="Confirm" class="text-danger"></span>
                    </div>
                    <!--Confirm End-->
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
