@model Vet.Web.Models.Animals.CreateViewModel

@{
    ViewData["Title"] = "New Animal";
    ViewData["PageHeader"] = "Create";
}



<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Animal Info</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <!--Validation Summary-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OwnerId" />

                    <!--Name-->
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <!--Name End-->
                    <!--DateOfBirth-->
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" type="date" class="form-control">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <!--DateOfBirth End-->
                    <!--Photo-->
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="Photo" type="file" class="form-control">
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--Photo End-->
                    <!--SpecialityId-->
                    <div class="form-group">
                        <label asp-for="SpecieId"></label>
                        <select asp-for="SpecieId" asp-items="Model.Species" class="form-control"></select>
                        <span asp-validation-for="SpecieId" class="text-danger"></span>
                    </div>
                    <!--SpecialityId End-->
                    <!--RoomId-->
                    <div class="form-group">
                        <label asp-for="BreedId"></label>
                        <select asp-for="BreedId" asp-items="Model.Breeds" class="form-control"></select>
                        <span asp-validation-for="BreedId" class="text-danger"></span>
                    </div>
                    <!--RoomId End-->

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SpecieId").change(function () {
                $("#BreedId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetBreedsAsync")',
                    dataType: 'json',
                    data: { specieId: $("#SpecieId").val() },
                    success: function (breeds) {
                        $.each(breeds, function (i, breed) {
                            $("#BreedId").append('<option value="'
                                + breed.value + '">'
                                + breed.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed updating the Breeds.' + ex);
                    }
                });
                return false;
            });
        });
    </script>
}